<!DOCTYPE html>
<html lang="en">

<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Auth Page</title>
</head>

<body>
    <h1>Welcome to the Groceries Shop</h1>

    <div class="box1">
        <h3>Sign Up</h3>
        <form method="post">
            <input type="text" placeholder="username" name="signName">
            <input type="email" placeholder="email" name="signEmail">
            <input type="password" placeholder="password" name="signPassword">
            <input type="submit" value="Click">
        </form>
    </div>

    <div class="box2">
        <h3>Log in</h3>
        <form method="post">
            <input type="email" placeholder="email" name="loginEmail">
            <input type="password" placeholder="password" name="loginPassword">
            <input type="submit" value="Click">
        </form>
        <p>{{ message }}</p>
    </div>
    

</body>

</html>