<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Auth Page</title>
</head>

<body>

    <div class="box">
        <form method="post">
            <input type="text" placeholder="username" name="signName">
            <input type="email" placeholder="email" name="signEmail">
            <input type="password" placeholder="password" name="signPassword">
            <input type="submit" value="Click">
        </form>
    </div>

    <div class="box">
        <form method="post">
            <input type="email" placeholder="email" name="loginEmail">
            <input type="password" placeholder="password" name="loginPassword">
            <input type="submit" value="Click">
        </form>
    </div>
    <p>{{ message }}</p>

</body>

</html>