<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div
        style="display: block; border: 1px solid black; width: 500px; height: 500px; margin-left: auto; margin-right: auto;">
       <form method="post">
        <input type="email" placeholder="number1" name="n1">
        <input type="password" placeholder="number2" name="n2">
        <input type="submit" value="Click">
        
    </form>
    <p>{{inv}}</p>
    </div>
</body>

</html>